.video__data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .video__createdAt {
    font-size: 14px;
  }
  .video__owner {
    display: flex;
    align-items: center;
    width: 150px;
    margin-bottom: 10px;
    font-size: 14px;
    a {
      margin-right: 5px;
    }
    .video__owner-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .video__owner-name {
      text-align: center;
    }
  }
}
.video__controller {
  display: flex;
  text-align: center;
  flex-direction: column;
  a {
    width: 120px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #08469a;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    .video__comment-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .video__comment-delete {
    float: right;
  }
}
