.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
  margin-top: 30px;
  .social__btn--github {
    background-color: transparent;
    color: azure;
  }
  .social__btn--kakao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 420px;
    height: 40px;
    background-color: #fee500;
    border-radius: 12px;
    color: #000000;
    i {
      float: left;
      color: #000000;
      opacity: 0.85;
    }
  }
}
